<%- include('./partials/header/header') %>
<div class="indexContainer">
  <div class="infoContainer">
    <h1 style="text-align: center;">Vincent Robles</h1>
    <div class="profilePicContainer">
      <img class="profilePic" src="/images/20200704_1327513.jpg" alt="picture of me" />
    </div>
    <div class="profileContainer">
      <pre class="pre-scrollable">
        <span class="darkBlue">const</span> <span class="blue">softwareEngineer</span> = {
          <span class="lightBlue">name:</span> <span class="orange">'Vincent Robles'</span>,
          <span class="lightBlue">contact:</span> <span class="green">{</span>
            <span class="lightBlue">address:</span> <a href="https://www.google.com/maps/place/2071+Twin+Six+Ln,+Dumfries,+VA+22026/@38.5746721,-77.3020126,12.75z/data=!4m5!3m4!1s0x89b6fed719f0e24d:0x3e55527d13364b28!8m2!3d38.5792926!4d-77.2772066" target="_blank">'2071 Twin Six Lane, Dumfries, VA 22026'</a>,
            <span class="lightBlue">email:</span> <a href="mailto: vincentrobles88@gmail.com">'vincentrobles88@gmail.com'</a>,
            <span class="lightBlue">phone:</span> <span class="lightGreen">7039095910</span>,
            <span class="lightBlue">linkedIn:</span> <a href="https://www.linkedin.com/in/vincentrobles" target="_blank">'linkedin.com/in/vincentrobles'</a>,
            <span class="lightBlue">gitHub:</span> <a href="https://github.com/vrobl001" target="_blank">'github.com/vrobl001'</a>,
            <span class="lightBlue">dockerHub:</span> <a href="https://hub.docker.com/u/vrobl001" target="_blank">'hub.docker.com/u/vrobl001'</a>,
          <span class="green">}</span>,
          <span class="lightBlue">personalQualifications:</span>
            <span class="orange">'Software Developer with 6+ months of AGILE experience. Currently pursuing higher 
            education while honing my skills as a developer with courses through Udemy. Striving 
            to learn best practices in order to make high-quality contributions. Enjoys developing 
            web apps using open source technologies.'</span>,
          <span class="lightBlue">skills:</span> <span class="green">[</span>
            <span class="orange">'React'</span>,
            <span class="orange">'Helm'</span>,
            <span class="orange">'Kubernetes'</span>,
            <span class="orange">'Docker'</span>,
            <span class="orange">'AWS S3'</span>,
            <span class="orange">'Python'</span>,
            <span class="orange">'Node'</span>,
            <span class="orange">'Express'</span>,
            <span class="orange">'CSS/SCSS'</span>,
            <span class="orange">'OAuth'</span>,
            <span class="orange">'PostgresSQL'</span>,
            <span class="orange">'MongoDB'</span>,
            <span class="orange">'JavaScript'</span>,
            <span class="orange">'Mongoose'</span>,
            <span class="orange">'AJAX'</span>,
            <span class="orange">'Django'</span>,
          <span class="green">]</span>,
        };
      </pre>
    </div>
  </div>
  <div class="quoteContainer">
    <p>The climb to becoming a great</p>
    <p>developer gets steeper</p>
    <p>the further I travel...</p>
    <p>But I <span>LOVE</span> the journey</p>
    <p>and will <span>NEVER</span> stop</p>
    <p>
      climbing.
    </p>
  </div>
</div>
<%- include('./partials/footer/footer') %>
