<%- include('./partials/header/header') %>
<h1 style="text-align: center;">Vincent Robles</h1>
<div class="profilePicContainer">
  <img class="profilePic" src="/images/20200704_1327513.jpg" alt="picture of me" />
</div>
<div class="card">
  <div class="darkGray card-body d-flex flex-column justify-content-center">
    <pre class="pre-scrollable">
      const softwareEngineer = {
        name: 'Vincent Robles',
        forHire: true,
        skills: [
          'React',
          'Helm',
          'Kubernetes',
          'Docker',
          'AWS S3',
          'Python',
          'Node',
          'Express',
          'CSS/SCSS',
          'OAuth',
          'PostgresSQL',
          'MongoDB',
          'JavaScript',
          'Mongoose',
          'AJAX',
          'Django',
        ],
      };
    </pre>
  </div>
</div>
<%- include('./partials/footer/footer') %>
