.navbar {
  background-color: rgba(0, 0, 0, 0.85);
  font-family: 'Open Sans', sans-serif;
  height: 3.5rem;
  padding: 0;
  z-index: 1;
}

.navbar .navbar-brand {
  margin-left: 0.75rem;
}

.navbar .navbar-brand svg {
  height: 2rem;
  width: 2rem;
}

.navbar ul {
  height: 3.5rem;
}

.navbar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
  padding: 0 0.75rem;
}

.navbar li:hover {
  background-color: rgba(100, 100, 100, 0.1);
  color: white;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.85);
}

.dropdown-menu a {
  color: white;
}

.indexContainer {
  background-image: url("/images/backgrounds/rock_climb.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #082f4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.5rem;
  padding-top: 5.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.indexContainer .infoContainer {
  width: 100%;
}

.indexContainer .infoContainer h1 {
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  text-shadow: -0.5rem -0.25rem black;
}

.indexContainer .infoContainer .profilePicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexContainer .infoContainer .profilePicContainer .profilePic {
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);
          box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);
  height: 16rem;
  margin: 1rem;
}

.indexContainer .infoContainer .profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexContainer .infoContainer .profileContainer pre {
  background-color: #1e1e1e;
  -webkit-box-shadow: -0.5rem 0.5rem 0.2rem 0rem rgba(0, 0, 0, 0.5);
          box-shadow: -0.5rem 0.5rem 0.2rem 0rem rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
  width: 50rem;
}

.indexContainer .infoContainer .profileContainer .darkBlue {
  color: #358cd6;
}

.indexContainer .infoContainer .profileContainer .blue {
  color: #4fc1ff;
}

.indexContainer .infoContainer .profileContainer .lightBlue {
  color: #9cdcfe;
}

.indexContainer .infoContainer .profileContainer .green {
  color: #00dc17;
}

.indexContainer .infoContainer .profileContainer .lightGreen {
  color: #b5cea8;
}

.indexContainer .infoContainer .profileContainer .orange {
  color: #ce8349;
}

.indexContainer .quoteContainer {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0.8rem;
  width: 100%;
}

.indexContainer .quoteContainer p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.indexContainer .quoteContainer span {
  color: #358cd6;
  font-family: 'Kaushan Script', cursive;
}

.aboutContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/backgrounds/purple_forest.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  padding-top: 5.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
}

.about {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
  width: 80%;
}

.contactContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/images/backgrounds/blue_mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  padding-top: 5.5rem;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  color: black;
  text-align: center;
}

.contact {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 80%;
}

* {
  margin: 0;
  padding: 0;
}

.appOuterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.appOuterContainer .appInnerContainer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0 0 0.25rem rgba(66, 82, 110, 0.5);
          box-shadow: inset 0 0 0.25rem rgba(66, 82, 110, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #ebecf0;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(66, 82, 110, 0.75);
          box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(66, 82, 110, 0.75);
  size: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(66, 82, 110, 0.2);
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.2rem #42526e;
          box-shadow: inset 0.1rem 0.1rem 0.2rem #42526e;
}
/*# sourceMappingURL=styles.css.map */