.navbar {
  background-color: black;
  -webkit-box-shadow: 0rem 0.1rem 0.25rem 0rem rgba(66, 82, 110, 0.5);
          box-shadow: 0rem 0.1rem 0.25rem 0rem rgba(66, 82, 110, 0.5);
  z-index: 1;
}

footer {
  background-color: black;
  -webkit-box-shadow: 0rem -0.1rem 0.25rem 0rem #42526e;
          box-shadow: 0rem -0.1rem 0.25rem 0rem #42526e;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem;
}

.indexContainer {
  background-attachment: fixed;
  background-image: url("/images/react-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.indexContainer h1 {
  color: white;
}

.indexContainer .profilePicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexContainer .profilePicContainer .profilePic {
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0rem 0.1rem 0.1rem white;
          box-shadow: 0rem 0rem 0.1rem 0.1rem white;
  height: 17.5rem;
  margin: 1rem;
}

.indexContainer .profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indexContainer .profileContainer pre {
  background-color: #1e1e1e;
  color: white;
  width: 50rem;
  -webkit-box-shadow: 0rem 0rem 0.1rem 0.1rem white;
          box-shadow: 0rem 0rem 0.1rem 0.1rem white;
}

.indexContainer .profileContainer pre img {
  height: 1rem;
  width: 1rem;
}

.indexContainer .profileContainer .darkBlue {
  color: #358cd6;
}

.indexContainer .profileContainer .blue {
  color: #4fc1ff;
}

.indexContainer .profileContainer .lightBlue {
  color: #9cdcfe;
}

.indexContainer .profileContainer .green {
  color: #00dc17;
}

.indexContainer .profileContainer .lightGreen {
  color: #b5cea8;
}

.indexContainer .profileContainer .orange {
  color: #ce8349;
}

* {
  margin: 0;
  padding: 0;
}

.appOuterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.appOuterContainer .appInnerContainer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0 0 0.25rem rgba(66, 82, 110, 0.5);
          box-shadow: inset 0 0 0.25rem rgba(66, 82, 110, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #ebecf0;
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(66, 82, 110, 0.75);
          box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(66, 82, 110, 0.75);
  size: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(66, 82, 110, 0.2);
  -webkit-box-shadow: inset 0.1rem 0.1rem 0.2rem #42526e;
          box-shadow: inset 0.1rem 0.1rem 0.2rem #42526e;
}
/*# sourceMappingURL=styles.css.map */