@import '../../views/partials/header/_header.scss';
@import '../../views/partials/footer/_footer.scss';
@import '../../views/about/_about.scss';
@import '../../views/contact/_contact.scss';
@import '../../views/projects/_projects.scss';

body {
  margin: 0;
  padding: 0;
}

.appOuterContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .appInnerContainer {
    flex-grow: 1;
    overflow-y: auto;
  }
}

// Home Page

pre {
  color: white;
}

.darkGray {
  background-color: rgb(30, 30, 30);
}

.darkBlue {
  color: rgb(53, 140, 214);
}

.blue {
  color: rgb(79, 193, 255);
}

.lightBlue {
  color: rgb(156, 220, 254);
}

.green {
  color: rgb(0, 220, 23);
}

.lightGreen {
  color: rgb(181, 206, 168);
}

.darkGreen {
  color: rgb(67, 138, 73);
}

.yellow {
  color: rgb(220, 205, 121);
}

.orange {
  color: rgb(206, 131, 73);
}

.purple {
  color: rgb(197, 134, 192);
}
