<%- include('../partials/header/header') %>
<div class="aboutContainer">
  <h1>About Me</h1>
  <div class="about">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci nam corporis dolorum quo voluptatum ducimus
      sequi illo dicta odio? Voluptate officia, expedita excepturi quidem quae sequi recusandae fugit? Velit explicabo
      consectetur aperiam consequuntur quod delectus eos corporis, provident quae porro unde soluta saepe distinctio
      ratione fuga inventore doloribus est mollitia laborum aliquam voluptatum quibusdam ducimus? Nulla sapiente sed
      perferendis, autem iure tempora velit in ea vero enim molestias corrupti reiciendis possimus id voluptate fugiat
      eius ducimus laborum odio rerum ex exercitationem quidem dolor doloribus! Fugiat, at. Eaque laborum voluptate
      asperiores earum recusandae deleniti libero, consequuntur, tenetur, illo beatae officiis velit.
    </p>
  </div>
</div>
<%- include('../partials/footer/footer') %>
