<%- include('../partials/header/header') %>
<div class="aboutContainer">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Past
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;I have always had a passion for education, but connecting it with a career has been
            a struggle. I was close to settling with the idea that a career is just something you do to get by and that
            passions were for free-time. It wasn’t until a close friend urged me to give coding a chance and showed me
            that there were free resources to get started.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;It did not take long for me to get completely hooked into the world of coding. One
            of my first most exciting moment was applying a completed styling sheet provided by one of my online lessons
            to an html document that I had created. I was confused at first by the transformation and had to double
            check that the html elements I had typed were all there.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Completely amazed how lines of code could present such a beautiful transformation, I
            had to dive deeper. I signed up for the General Assembly’s remote software immersion course. It was a
            challenging 6 months of balancing my personal life, work, and my education. There were many were many nights
            spent coding until the sun rose and getting only a few hours of sleep before doing it all over again.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;It was completely worth it in the end. I graduated from the program and received my
            certificate, along with a set of skills that I am proud of and plan to continue to develop. I knew back then
            that I had only scratched the surface of what it means to be a great software engineer, but finally was
            content that my passion for learning and a career that I love finally go hand-in-hand.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Present
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;I am currently continuing my education and love for coding with outside resources,
            such as Udemy, YouTube, and developing projects. I am always researching what can make me more valuable as a
            software engineer so that I can offer my very best to my future employer.
          </p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;I am juggling mastering the skills of cloud engineering, getting better at
            algorithms, achieving a certification in Amazon Solutions Architect, and practicing my skills in React.
            There is constant pressure to prove myself to not only my future employer, but also to myself. I will not
            settle for being an average developer. My goal is to cement myself amongst the elite.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Future
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;I understand that the world of coding is a vast ocean and I hope to one day sail
            through it all. I have a personal passion for the React library and see cloud engineering as a must. I
            sometimes fear that I am dividing my attention into learning too many different subjects instead of really
            trying to master just a few. However, I do hope to one day lead a team of developers into producing
            outstanding projects and believe that I must at least be aware of all the possibilities when it comes to
            coding in order to achieve that.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer/footer') %>
