.projectsContainer {
  height: 100%;
  width: 100%;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3.5rem;
  width: 100%;
  height: 100%;
}

.projectsNav {
  height: 100%;
  width: 100%;
  border-radius: none;
}
